<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">THÔNG TIN CÁ NHÂN</h1>
                        </div>
                        <form class="user" action="/product/update/updating/{{idol._id}}" method="POST"
                            enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer01">Họ và tên <span style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="validationServer01"
                                        placeholder="First name" value="{{idol.nick_name}}" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer02">Email <span style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="validationServer02"
                                        placeholder="Last name" value="{{idol.email}}" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer03">Địa chỉ <span style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="validationServer03"
                                        placeholder="{{idol.address}}" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer04">Tình trạng <span style="color: red">*</span></label>
                                    <input type="text" class="form-control" id="validationServer04"
                                        placeholder="{{idol.relationship}}" required>
                                </div>
                            </div>
                            <input class="btn btn-primary btn-user btn-block" type="submit" value="Cập nhật">
                            <a href="/product" class="btn btn-google btn-user btn-block">
                                Trở lại
                            </a>
                        </form>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="row mt-3 mb-3">
                        <div id="mdb-lightbox-ui"></div>
                        {{#each images}}
                        <div class="col-md-4 mb-3">
                            <a href="https://res.cloudinary.com/employeern/image/upload/{{this}}">
                                <img alt="picture"
                                    src="https://res.cloudinary.com/employeern/image/upload/w_100,h_100,c_fill/{{this}}"
                                    class="img-fluid">
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // MDB Lightbox Init
    $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });
</script>