<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Người dùng</h1>
    <p class="mb-4">Danh sách tất cả người dùng trong hệ thống</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Avatar</th>
                            <th style="min-width:200px">Tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Role</th>
                            <th>Ngày tạo</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Avatar</th>
                            <th>Tên</th>
                            <th>Tài khoản</th>
                            <th>Số điện thoại</th>
                            <th>Role</th>
                            <th style="width:150px">Ngày tạo</th>
                            <th style="min-width:120px">Chỉnh sửa</th>
                        </tr>
                    </tfoot>
                    <tbody id="myTable">
                        {{#each users}}
                        <tr>
                            <td>{{noNum}}</td>
                            <td>
                                <a href="javascript:;">
                                    <img class="rounded-circle" width="50" height="50"
                                        onerror="this.src='https://image.freepik.com/free-vector/cute-chibi-kawaii-characters_146706-51.jpg';"
                                        src="https://res.cloudinary.com/lusapp/image/upload/w_50,h_50,c_fill//{{this.image_path}}" />
                                </a>
                            </td>
                            <td>{{this.user_name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                            <td>
                                {{#ifCond this.role_id 2}}
                                Idol
                                {{else}}
                                {{#ifCond this.role_id 0}}
                                Admin
                                {{else}}
                                User
                                {{/ifCond}}
                                {{/ifCond}}
                            </td>
                            <td>{{this.created_date}}</td>
                            <td>
                                <a href="/admin/user/{{this._id}}" class="btn btn-info btn-sm">Xem</a>
                                <a data-id="{{this._id}}" class="delete btn btn-danger btn-sm text-white">Xóa</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <h5 style="color: black">Xoá người dùng</h5>
        <p>Bạn có chắc chắn muốn xoá người dùng này không?</p>
        <div class="clearfix">
            <button type="button" class="cancelbtn">Huỷ</button>
            <button data-id-modal="" type="button" id="data-change" class="deletebtn">Xóa</button>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>

<script>
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("cancelbtn")[0];

    $(".delete").click(function () {
        let id = $(this).attr("data-id");
        $('#data-change').attr('data-id-modal', id);
        modal.style.display = "block";
        $(".deletebtn").click(function () {
            let id_change = $('#data-change').attr('data-id-modal');
            var request = $.ajax({
                url: "/admin/user",
                method: "DELETE",
                data: { id: id_change },
                dataType: "html",
                success: function (data) {
                    if (data) {
                        window.location.replace(data);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Có lỗi xảy ra, vui lòng thử lại sau!');
                }
            });
        })
    })
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<style>
    .table>tbody>tr>td {
        vertical-align: middle;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    button:hover {
        opacity: 1;
    }

    .cancelbtn,
    .deletebtn {
        float: left;
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
    }

    .cancelbtn {
        background-color: #ccc;
        color: black;
    }

    .deletebtn {
        background-color: #f44336;
    }
</style>